{% extends 'base.html.twig' %}

{% block title %}Edit ReclamationGuide{% endblock %}

{% block body %}
    <h1>Edit Reclamation Guide</h1>

    {{ include('reclamation_guide/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_reclamation_guide_index') }}">back to list</a>

    {{ include('reclamation_guide/_delete_form.html.twig') }}
{% endblock %}
