{% extends 'base.html.twig' %}

{% block title %}New Reclamation Guide{% endblock %}

{% block body %}
    <h1>Create new Reclamation Guide</h1>

    {{ include('reclamation_guide/_form.html.twig') }}

    <a href="{{ path('app_reclamation_guide_index') }}">back to list</a>
{% endblock %}
