{% extends 'base.html.twig' %}

{% block title %}Edit ReclamationLocalisation{% endblock %}

{% block body %}
    <h1>Edit Reclamation Localisation</h1>

    {{ include('reclamation_localisation/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_reclamation_localisation_index') }}">back to list</a>

    {{ include('reclamation_localisation/_delete_form.html.twig') }}
{% endblock %}
