{% extends 'baseb.html.twig' %}

{% block title %}Edit Louer{% endblock %}

{% block body %}
    <h1>Edit Louer</h1>

    {{ include('louer/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_louer_index') }}">back to list</a>

    {{ include('louer/_delete_form.html.twig') }}
{% endblock %}
