{% extends 'base.html.twig' %}

{% block title %}Modifier vos coordonées{% endblock %}

{% block body %}
 {{ form_start(form) }}
 {{ form_widget(form) }}
   <button type="submit" class="btn btn-success">Modifier</button>
  <button type="submit" class="btn btn-success">Modifier</button>
<a href="/FrontView/delete" class="btn btn-danger" 
              onclick="return confirm('Etes-vous sûr de supprimer cet article?');">Supprimer</a>
 {{ form_end(form) }}
{% endblock %}