{% extends 'behija.html.twig' %}

{% block title %}Edit Equipementvendre{% endblock %}

{% block body %}
    <h1>Edit Equipementvendre</h1>

    {{ include('equipementvendre/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_equipementvendre_index') }}">back to list</a>

    {{ include('equipementvendre/_delete_form.html.twig') }}
{% endblock %}
